﻿@{
    ViewBag.Title = "AcconCor | Home Page";
}

<div class="jumbotron">
    <h1>AccounCer</h1>
    <p>AccounCer is a Payment Management platform intended for Freelancers (<b>Accoun</b>ts + Freelan<b>Cer</b>) to manage the balances and payments of their clients at any stage of the projects. Basically, when the freelancer has undertaken a work for the client, the latter can choose to pay in instalments. But, tracking the outstanding balances and the completed payments is quite an issue on both sides resulting sometimes in conflicts. AccounCer caters for that. So, for each invoice, the freelancer will add the client on AccounCer and create the invoice with the corresponding balance on the system. This will allow the client to login with his/her credentials to the system, and view all invoices attached to his accounts with their respective balances. Furthermore, when a payment has been made to the freelancer by the client, the latter can see that on the system too together with the updated balance. The client can also see the history of payments made to the freelancer.</p>
    <p><a href="http://about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>The client in the system is the person/organisation that benefited for the services of the Freelancer and owes the freelancer for his work. </p>
    </div>
    <div class="col-md-4">
        <h2>Invoices</h2>
        <p>This is the model responsible for carrying the balance information owed by the client to the freelancer.</p>
     
    </div>
    <div class="col-md-4">
        <h2>Payments</h2>
        <p>This is the model responsible for managing all payments made by the client to the freelancer. </p>
     
    </div>
</div>